<div class="location-container">
    <div class="location-subcontainer">
        <div class="location-title">Location</div>
        <div class="location-pane">
            <div class="location-card">
                <div>
                    {{organizations.Address.Address1}},{{organizations.Address.Address2}}{{organizations.Address.Address3}}
                </div>
                <div>{{organizations.Address.City}}, {{organizations.Address.State}}</div>
                <div>{{organizations.Address.Country}}</div>
                <div>{{organizations.Contact.Telephone}}</div>
            </div>
        </div>
    </div>
</div>