<div class="tabs-container">
    {{organizations.AboutUs}}
    <div class="forms-container">
        <div>
            <button mat-raised-button class="add-tab-button" (click)="addTab()">
                Add new tab
            </button>
        </div>
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab *ngFor="let tab of tabsName">
                <ng-template mat-tab-label>
                    <ng-container *ngIf="!tab.editMode; else editTemplate">
                        <div (dblclick)="tab.editMode = true">{{tab.name}}</div>
                    </ng-container>
                    <ng-template #editTemplate>
                        <input [(ngModel)]="tab.name" />
                        <mat-icon class="example-tab-icon" (click)="tab.editMode = false">save</mat-icon>
                    </ng-template>
                </ng-template>
                <div class="tab-content">
                    <div class="btn-pane">
                        <button mat-raised-button class="add-grp-btn" (click)="addGroup()">Add Group</button>
                        <div *ngIf="openGroupModal">
                            <div class="modal-group">
                                <mat-form-field>
                                    <input type="text" placeholder="Enter Group Name" [(ngModel)]="GroupName" />
                                </mat-form-field>
                                <div>
                                    <button (click)="closeAddGroupModal()">Cancel</button>
                                    <button (click)="createGroup()">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-subcontainer">
                        <div class="input-pane">
                            <div *ngFor="let item of independentFields" class="input-field">
                                <input type="{{item.FieldType}}" placeholder="{{item.DisplayName}}" class="input-box" />
                            </div>
                        </div>
                        <div *ngFor="let group of groups">
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel class="form-content-box">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{group.DisplayName}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="form-content">
                                        <div *ngFor="let fields of availableFormData[selectedTabIndex]?.Fields">
                                            <!-- <input type="{{fields.FieldType}}" placeholder="{{fields.DisplayName}}"
                                                class="input-box" /> -->
                                        </div>
                                        <!-- <input type="{{fields.FieldType}}" placeholder="{{fields.DisplayName}}" class="input-box" /> -->
                                    </div>
                                    <div class="add-field-btn">
                                        <button mat-raised-button class="field-btn" (click)="addField()">Add
                                            Field</button>
                                        <button mat-raised-button>Add Group</button>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>