<div class="searchbar-container">
    <app-search-bar (keyEvent)="inputEventHandler($event)"></app-search-bar>
</div>
<div class="container">
    <div class="sidebar-container">
        <app-sidebar (filterProduct)="filterProductHandler($event)"
            (filterSpecialization)="filterSpecializationHandler($event)"></app-sidebar>
    </div>
    <div class="main-pane">
        <p class="main-pane-path">Partner Locator > <span class="path-title">Search Result(s)</span></p>
        <div class="top-part">
            <div>
                <h4> {{resultArray.length}} search Results</h4>
            </div>
            <div class="favorites-title">
                <mat-slide-toggle (change)="toggleFav()">View Favourites</mat-slide-toggle>
                <p class="clear-btn">Clear Filters</p>
            </div>
        </div>
        <div class="card-pane">
            <mat-card class="example-card" *ngFor="let item of resultArray">
                <div class="card-content">
                    <div class="card-tag-box">
                        <mat-card-header *ngFor="let title of item.tags; let i = index">
                            <mat-card-title>
                                <div class="tag-title" [ngClass]="getBackground(i)">{{title.tagName}}</div>
                            </mat-card-title>
                        </mat-card-header>
                    </div>
                    <mat-card-content>
                        <div class="card-img"><img src={{item.logo}} class="logo" /></div>
                        <div class="card-text card-title">{{item.title}}</div>
                        <div class="card-text card-description">{{item.description}}</div>
                        <div class="card-text card-location">{{item.location}}</div>
                        <div class="card-text card-url"><a href="{{item.url}}">{{item.url}}</a></div>
                    </mat-card-content>
                </div>
                <div class="card-footer">
                    <star-rating [value]="item.rating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="white"
                        size="20px" (rate)="onRate($event)">
                    </star-rating>
                    <div *ngIf="item.isBookmarked; else bookmarkedTemplate">
                        <mat-icon (click)="bookmark(item)">bookmark_border</mat-icon>
                    </div>
                    <ng-template #bookmarkedTemplate>
                        <mat-icon (click)="bookmark(item)">bookmark</mat-icon>
                    </ng-template>
                </div>
            </mat-card>
        </div>
    </div>
</div>