.container {
    display: flex;
    height: auto;

    .main-pane {
        background-color: #f8f8f8;
        width: 100%;
        padding: 0 1rem;

        .main-pane-path {
            font-size: 0.8rem;

            .path-title {
                color: #007da8;
            }
        }

        .top-part {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px;

            .favorites-title {
                display: flex;
                font-size: 0.75rem;
            }
        }

        .card-pane {
            padding: 8px 0;
            display: flex;
            flex-wrap: wrap;

            .example-card {
                width: 18%;
                margin: 0.75rem;
                overflow: hidden;
                height: 100%;

                .card-tag-box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .tag-title {
                        font-size: 0.7rem;
                        border: 1px solid #007da8;
                        border-radius: 5px;
                        padding: 4px 12px;
                    }
                }

                .logo {
                    max-width: 200px;
                    max-height: 60px;
                }

                .card-title {
                    font-weight: bold;
                }

                .card-description {
                    color: #808080;
                }

                .card-location {
                    margin-top: 2rem;
                    font-size: 0.7rem;
                }

                .card-url {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

.bg-dark {
    background-color: #A7727D;
    color: #FFFFFF;
}

.bg-light {
    background-color: #C9EEFF;
    color: #007da8;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

mat-card-content {
    padding: 1rem;
}

.card-text {
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.mat-card-content {
    margin-bottom: 0!important;
}

.card-img {
    min-height: 65px;
}

