.sidenav-container {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
}

.toggle-container {
    padding: 0.5rem 0 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.country-container {
    padding: 0.5rem 0 0.5rem 1rem;
}

.checkbox-filters {
    padding: 0.5rem 0 0.5rem 1rem;
}