<!-- <div class="sidenav-container">
    <mat-sidenav-container class="example-container">
        <mat-sidenav-content>And <mat-slide-toggle></mat-slide-toggle>Or</mat-sidenav-content>
        <mat-sidenav-content>Country/Region</mat-sidenav-content>
        <mat-sidenav-content>Specializations</mat-sidenav-content>
        <li *ngFor="let item of productsArray">
            <ul>{{item.productName}}</ul>
        </li>
        <mat-sidenav-content>Products</mat-sidenav-content>
    </mat-sidenav-container>
</div> -->
<div class="sidenav-container">
    <div class="toggle-container">
        And <mat-slide-toggle></mat-slide-toggle>Or
    </div>
    <div class="country-container">
        <h3>Country/Region</h3>
        <mat-select>
            <mat-option selected>All</mat-option>
            <mat-option *ngFor="let item of locationArray" value="{{item.locationId}}">{{item.locationName}}</mat-option>
        </mat-select>
    </div>
    <div class="checkbox-filters">
        <h3>Specializations</h3>
        <div *ngFor="let item of specializedArray">
            <mat-checkbox class="example-margin">{{item.specializationName}}</mat-checkbox>
        </div>
    </div>
    <div class="checkbox-filters">
        <h3>Products</h3>
        <div *ngFor="let item of productsArray">
            <mat-checkbox class="example-margin">{{item.productName}}</mat-checkbox>
        </div>
    </div>
</div>