.sidenav-container {
    height: 100%;
}

.toggle-container {
    padding: 1rem 2rem;
    border-bottom: 1px solid #D9DCE1;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 17px;
    color: #2F3542;
}


.country-container {
    padding: 0.5rem 2rem;

    h3 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .select-container {
        margin-top: 0.5rem;
    }
}

.mat-checkbox {
    font-size: 0.8rem;
    color: #77889A;
    font-weight: 400;
    margin: 0.15rem 0;
}

.checkbox-filters {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;

    .mat-expansion-panel-header {
        padding-right: 0;
    }

    mat-label,
    mat-panel-title {
        font-family: "IBM Plex Sans", Roboto, "Open Sans", Arial, Helvetica, Sans-Serif !important;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 17px;
        color: #2F3542;
        letter-spacing: 0.75px;
    }

    @media screen and (max-width: 992px) {
        h3 {
            font-size: 0.9em;
            margin: 0.5rem 0;
        }
    }
}

mat-select {
    border: 1px solid #dee0e5;
    background-color: #fff;
    color: #000;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 0.75rem 0;
    width: 100%;
    font-size: 0.9rem;

    &:focus {
        outline: none;
    }
}

.mat-slide-toggle {
    margin-right: 0.2rem;
}

@media screen and (max-width: 992px) {
    .mat-checkbox {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 560px) {
    .mat-checkbox {
        font-size: 0.7rem !important;
    }

    .toggle-container {
        padding: 0.5rem 1rem !important;
    }
}