<div class="sidenav-container">
    <div class="toggle-container">
        And <mat-slide-toggle></mat-slide-toggle>Or
    </div>
    <div class="checkbox-filters">
        <h3>Country/Region</h3>
        <mat-select>
            <mat-option *ngFor="let item of locationArray" [value]="item.locationId">
                {{item.locationName}}
            </mat-option>
        </mat-select>
        <!-- <select class="select-container">
            <option *ngFor="let item of locationArray" [value]="item.locationId">
                <div class="option-value">{{item.locationName}}</div>
            </option>
        </select> -->
    </div>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true"
        class="checkbox-filters">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Specializations
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of specializedArray" class="options">
            <div><mat-checkbox class="example-margin"
                    (click)="toggleSpecializtion(item.specializationName)">{{item.specializationName}}</mat-checkbox>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true"
        class="checkbox-filters">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Products
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of productsArray" class="options">
            <div><mat-checkbox class="example-margin"
                    (click)="toggleProducts(item.productName)">{{item.productName}}</mat-checkbox></div>
        </div>
    </mat-expansion-panel>
</div>