<div class="details-container">
    <div class="top-pane">
        <div class="product-details">
            <div class="logo-pane">
                <div class="company-logo">
                    <img src={{organizations.thumbnail}} />
                </div>
            </div>
        </div>
        <div class="details-header">
            <div class="org-title">{{organizations.name}}</div>
            <div class="rating-pane">
                <star-rating [value]="organizations.avgrating" [totalstars]="5" checkedcolor="gold" uncheckedcolor="white"
                    size="20px">
                </star-rating>
                <div *ngFor="let user of organizations.userRatingAndFavourite">
                    <div *ngIf="user.userId == '11'">
                        <div *ngIf="user.favourite; else bookmarkedTemplate">
                            <mat-icon>bookmark_border</mat-icon>
                        </div>
                        <ng-template #bookmarkedTemplate>
                            <mat-icon>bookmark</mat-icon>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="location-text">{{organizations.address.state + ', ' + organizations.address.country}}</div>
            <div class="contact-text">Phone: {{organizations.contact.telephone}}</div>
            <div class="support-text">{{organizations.contact.email}}</div>
            <div class="company-url">{{organizations.websiteUrl}}</div>
        </div>
        <div class="supplier-details">
            <div *ngIf="organizations.supplier.isSupplier">
                <div class="supplier-label">Supplier Type</div>
                <div class="tag-title bg-light">{{organizations.supplier.supplierType}}</div>
            </div>
            <div *ngFor="let partnership of organizations.partnership" class="partner-pane">
                <div class="supplier-label">Partner Level</div>
                <div class="tag-title bg-dark" matTooltip="{{partnership.partnerType}}" matTooltipPosition="above">
                    {{partnership.partnerType}}</div>
            </div>
        </div>
        <div class="req-btn-pane">
            <div class="req-btn" matTooltip="Request Information" matTooltipPosition="above">Request Information</div>
        </div>
    </div>
    <div class="tabs-pane">
        <mat-tab-group>
            <mat-tab label="About">
                <app-about [organizations]="organizations"></app-about>
            </mat-tab>
            <mat-tab *ngFor="let tab of availableFormData" label="{{tab.tabName}}">
                <div class="tab-content">
                    <div class="form-subcontainer">
                        <div class="input-pane">
                            <div *ngFor="let item of tab.fields" class="input-field">
                                <input type="{{item.fieldType}}" [value]="item.displayName +':  '+ item.defaultValue " class="input-box" />
                            </div>
                        </div>
                        </div>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Resources">
                <app-resources [organizations]="organizations"></app-resources>
            </mat-tab>
            <mat-tab label="Products and Services">
                <app-produts-services [organizations]="organizations"></app-produts-services>
            </mat-tab>
            <mat-tab label="Company Info">
                <app-company-info [organizations]="organizations"></app-company-info>
            </mat-tab>
            <mat-tab label="Location"><app-location [organizations]="organizations"></app-location> </mat-tab>
            <mat-tab label="Products"><app-products [organizations]="organizations"></app-products> </mat-tab> -->
        </mat-tab-group>
    </div>
</div>