.product-service-container {
    .product-title, .service-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #2F3542;
    }

    .product-container, .service-container {
        padding-top: 30px;
        padding-left: 16px;
    }

    .product-data, .service-data {
        margin: 8px 0;
    }

}