@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
mat-card {
    margin: 0;
    height: 100%;
}

body,
mat-card,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
mat-checkbox,
mat-slide-toggle,
input,
.mat-tooltip {
    font-family: "IBM Plex Sans", Roboto, "Open Sans", Arial, Helvetica, Sans-Serif !important;
    color: #333;
}

.m-t-10 {
    margin-top: 10px !important;
}

app-sidebar {
    width: 20%;
}

mat-card {
    padding: 0 !important;
}

.mat-card-header-text {

    margin: 0 !important;

    .mat-card-title {
        margin-bottom: 0 !important;
    }
}

.mat-card-header {
    flex-direction: column !important;
}

.mat-card-avatar {
    height: 30px;
    width: auto;
    margin-top: 5px;
}

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-expansion-panel {
    background: none !important;
}

.mat-expansion-panel-header {
    padding-left: 0 !important;
    margin-bottom: 0.5rem;

    &:hover {
        background-color: none;
    }
}

.mat-expansion-panel-body {
    padding: 8px 24px 16px !important;
    padding-left: 0 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: auto !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ffffff;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #23c9ff;
}

.mat-expansion-indicator::after {
    color: #333 !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #23c9ff;
}

.mat-ink-bar {
    background-color: #23c9ff !important;
    border-color: #23c9ff !important;
}

// .mat-tab-label-content {
//     color: #23c9ff !important;
// }