@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-sidebar {
    width: 20%;
}

mat-card {
    padding: 0 !important;
}

.mat-card-header-text {
    margin: 7px 0 7px 4px !important;

    .mat-card-title {
        margin-bottom: 0 !important;
    }
}

.mat-select-trigger {
    height: 100% !important;
}