@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-t-10 {
    margin-top: 10px !important;
}

app-sidebar {
    width: 20%;
}

mat-card {
    padding: 0 !important;
}

.mat-card-header-text {
    margin: 7px 0 7px 4px !important;

    .mat-card-title {
        margin-bottom: 0 !important;
    }
}

.mat-card-header {
    display: flex;
    flex-direction: column;
}

.mat-card-avatar {
    height: 30px;
    width: auto;
    margin-top: 5px;
}

.mat-drawer-content {
    overflow: hidden !important;
}

.mat-expansion-panel{
    background: none !important;
}

.mat-expansion-panel-header {
    padding-left: 0 !important;
}

.mat-expansion-panel-body {
    padding: 8px 24px 16px !important;
    padding-left: 0 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: auto !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ffffff;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #D61355;
}

